* {
    box-sizing: border-box;
}

.nav-links {
    font-size:20px;
}

/* SEARCHBAR */

.space-body {
    margin:30px 0px 0px 0px;
}

.space-body-bot {
    margin:0px 0px 100px 0px;
}

h2 {
    font-size:24px;
    text-align:justify;
    font-family: arial;
}

.block-header {
    font-family:Arial; 
    font-style:italic;
    height:auto;
    font-size:24;
    text-align:center;
}


/* RECENT SEARCH */

.history {
    background-color: white;
    padding: 30px;
    float: left;
    width:33.33%;
    height: 60px;
    border: solid;
    border-radius: 5px;
    border-color: #959595;
}

@media screen and (max-width: 600px) {
    .history {
        width: 100%;
    }
}
