/* BACKGROUND */

* {
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    text-align: justify;
    font-family: "pacifico" , "arial" , "times";
    text-decoration: underline;
}

.nav-links {
    font-size:20px;
}

#shift-left {
    padding-right: 10px;
}

/* Search Result  */

.container {
    margin: 0 auto;
    margin-top: 100px;
}


.optionHolder {
    background-color: white;
    height:60px;   
}

.space-marg {
    margin-top:40px;
}

/* MAP & RESTAURANT */

#map {
    height: 400px;
    width: 50%; 
   }

#restaurantList,
#service-helper, {
    height:400px;
}

.scroll-box {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 400px; /* maximum height of the box, feel free to change this! */
    padding: 15px;
    overflow-y: scroll
}



