/* BACKGROUND */

* {
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    text-align: justify;
    font-family: "pacifico" , "arial" , "times";
    text-decoration: underline;
}

.nav-links {
    padding-left:10px;
    font-size:20px;
}

#shift-left {
    padding-right: 10px;
}

/* Search Result  */

.container {
    margin: 0 auto;
    margin-top: 100px;
}


.optionHolder {
    background-color: white;
    height:60px;   
}

.space-marg {
    margin-top:40px;
}

/* Map */

#map {
    height: 400px;
    width: 50%; 
   }

#restaurantList,
#map, {
    float: left;
   
}
