* {
    box-sizing:border-box;
}

/* SEARCHBAR */

.space-body {
    margin: 180px;
    padding: 40px;  
}

h2 {
    font-size: 24px;
    text-align: justify;
    font-family: "pacifico" , "arial" , "times";
    text-decoration: underline;
}

.block-header {
    font-family: Arial; 
    font-style: italic;
    height: 60px;
    font-size: 24;
}

/* option STYLING */

.container {
    margin:0 auto;
    margin-top:50px;
}
.optionHolder {
    background-color: white;
    height:75px;
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
    width: 100%;
    padding: 10px;
}
.space-marg {
    margin-top:20px;
}

.option-bar-inner1{
    display: flex;
    flex-direction: row;
}

.option-bar-inner2{
    display: flex;
    flex-direction: column;
}

.div1-1{
    width: 30%;
}

.div1-2{
    width: 70%;
    margin-left: 2%;
}

.div1 {
    width: 80%
}

.div2 {
    width: 20%
}

